<h1 class="bg-success-subtle p-2 text-center text-success w-100">DETAILS</h1>
<section class="d-flex flex-wrap justify-content-evenly">
    <div class="card m-1">
        <img src={{product.image}} alt={{product._id}} class="card-img-top">
        <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">USD{{product.price}}</p>
            <button class="btn btn-success" id="add" value={{produc._id}}>Add to cart</button>
        </div>
    </div>
</section>
<script src="/scripts/Cart.js"></script>
